<div class="pagination">
	<button
		(click)="onButtonsClick('first')"
		class="pagination__button btn-normal"
	>
		<i
			class="material-icons
                      {{ currentValue === 1 ? 'active' : '' }}
            "
			>first_page</i
		>
	</button>
	<button
		(click)="onButtonsClick('back')"
		class="pagination__button btn-normal"
	>
		<i
			class="material-icons
                      {{ currentValue === 1 ? 'active' : '' }}
            "
			>chevron_left</i
		>
	</button>
	<form [formGroup]="formGroup" class="texts">
		<input
			[readonly]="maxValue === 1"
			(change)="change()"
			formControlName="value"
			class="pagination__text pagination__current"
			size="1"
		/>
		<span class="pagination__text">/</span>
		<span class="pagination__text">{{ maxValue }}</span>
	</form>
	<button
		(click)="onButtonsClick('next')"
		class="pagination__button btn-normal"
	>
		<i
			class="material-icons
                      {{ currentValue === maxValue ? 'active' : '' }}
            "
			>chevron_right</i
		>
	</button>
	<button
		(click)="onButtonsClick('last')"
		class="pagination__button btn-normal"
	>
		<i
			class="material-icons
                      {{ currentValue === maxValue ? 'active' : '' }}
            "
			>last_page</i
		>
	</button>
</div>
