<div class="pagination">
	<button
		(click)="onArrowsClick ? onArrowsClick('first') : null"
		class="pagination__button btn-normal"
	>
		<i
			class="material-icons
                      {{ currentValue === '1' ? 'active' : '' }}
            "
			>first_page</i
		>
	</button>
	<button
		(click)="onArrowsClick ? onArrowsClick('back') : null"
		class="pagination__button btn-normal"
	>
		<i
			class="material-icons
                      {{ currentValue === '1' ? 'active' : '' }}
            "
			>chevron_left</i
		>
	</button>
	<form [formGroup]="formGroup" class="texts">
		<input
			(change)="change()"
			formControlName="value"
			class="pagination__text pagination__current"
			value="1"
			size="1"
		/>
		<span class="pagination__text">/</span>
		<span class="pagination__text">{{ lastValue }}</span>
	</form>
	<button
		(click)="onArrowsClick ? onArrowsClick('next') : null"
		class="pagination__button btn-normal"
	>
		<i
			class="material-icons
                      {{ currentValue === lastValue ? 'active' : '' }}
            "
			>chevron_right</i
		>
	</button>
	<button
		(click)="onArrowsClick ? onArrowsClick('last') : null"
		class="pagination__button btn-normal"
	>
		<i
			class="material-icons
                      {{ currentValue === lastValue ? 'active' : '' }}
            "
			>last_page</i
		>
	</button>
</div>
