<template #alert></template>

<app-menu></app-menu>
<div class="wrap content">
	<div class="entranceList">
		<app-sort>
			<li *ngFor="let element of sortData">
				<a (click)="changeState(element.key)" class="sortList__link">
					<i
						[class.active]="state === element.key"
						class="material-icons sortList__icon active"
					>
						{{ element.icon }}
						<span class="sortList__text">{{ element.text }}</span>
					</i>
				</a>
			</li>
		</app-sort>
		<app-entrance
			*ngFor="let entrance of entrances"
			[entrance]="entrance"
			[onCommentsClick]="sendComment.bind(this, entrance)"
		></app-entrance>
		<app-list-end [hasContent]="entrances?.length > 0"></app-list-end>
		<div></div>
	</div>
	<aside class="asideDetails">
		<app-account-details
			*ngIf="sessionAccount"
			[active]="false"
			[account]="sessionAccount"
			[showFollowButton]="false"
		>
		</app-account-details>
		<div class="buttons">
			<a
				*ngIf="sessionAccount && sessionAccount.admin"
				[routerLink]="['/admin']"
				class="asideDetails__button btn-primary"
			>
				Modo administrador
			</a>
		</div>
		<app-copyright> </app-copyright>
	</aside>
</div>
