.asideDetails {
	position: sticky;
	top: calc(var(--navbar-height) + var(--navbar-margin));
	display: flex;
	gap: 20px;
	flex-direction: column;
	width: 300px;
}

@media screen and (max-width: 1400px) {
	.asideDetails {
		width: 100%;
	}
}
