.background {
	position: absolute;
	background-image: url('../../../../assets/auth_img.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

.aside {
	position: absolute;
	display: flex;
	align-items: center;
	right: 0;
	background-color: rgb(255, 255, 255);
	width: 50vw;
	height: 100vh;
	padding: 25px;
	font-family: 'Roboto';
}

.content {
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.content__name {
	font-size: 3rem;
}

.content__sentence {
	font-size: 4.5rem;
}

.buttongroup {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.buttongroup button {
	width: 300px;
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	padding: 15px;
	font-size: 1.5rem;
	cursor: pointer;
}

.buttongroup__button {
	background-color: transparent;
	color: var(--primary-color);
}

.buttongroup__button-active {
	background-color: var(--primary-color);
	color: white;
}

.buttongroup__button:hover {
	background-color: var(--primary-color);
	color: white;
}

.buttongroup__button:active,
.buttongroup__button-active:active {
	background-color: var(--primary-color-active);
}

.content__link {
	font-size: 1.2rem;
	width: fit-content;
}

.aside__copyright {
	position: absolute;
	bottom: 5px;
}

@media screen and (max-width: 992px) {
	.aside {
		width: 100vw;
		text-align: center;
		justify-content: center;
	}

	.buttongroup__button,
	.buttongroup__button-active,
	.content__link {
		margin: auto;
	}
}
