<div class="background"></div>
<aside class="aside">
	<div class="content">
		<p class="content__name">Sheyras</p>
		<p class="content__sentence">Comparte cualquier cosa con la comunidad!</p>
		<div class="buttongroup">
			<button class="buttongroup__button">Iniciar sesion</button>
			<button class="buttongroup__button-active">Crear una cuenta</button>
		</div>
		<a class="content__link" routerLink="/home"
			>Seguir navegando sin sesion como anonimo.</a
		>
	</div>
	<p class="aside__copyright">Copyright@2022 by Josevi</p>
</aside>
