<div class="post content">
	<ul class="sortList">
		<li>
			<a class="sortList__link">
				<i class="material-icons sortList__icon">
					calendar_today
					<span class="sortList__text">New</span>
				</i>
			</a>
		</li>
		<li>
			<a class="sortList__link">
				<i class="material-icons sortList__icon">
					whatshot
					<span class="sortList__text">Hot</span>
				</i>
			</a>
		</li>
		<li>
			<a class="sortList__link">
				<i class="material-icons sortList__icon">
					comment
					<span class="sortList__text">Comments</span>
				</i>
			</a>
		</li>
		<li>
			<a class="sortList__link">
				<i class="material-icons sortList__icon">
					star_outline
					<span class="sortList__text">Votes</span>
				</i>
			</a>
		</li>
	</ul>
</div>
