<div class="post content">
	<ul class="sortList">
		<li>
			<a class="sortList__link">
				<i class="material-icons sortList__icon active">
					calendar_today
					<span class="sortList__text">Nuevos</span>
				</i>
			</a>
		</li>
		<li>
			<a class="sortList__link">
				<i class="material-icons sortList__icon">
					whatshot
					<span class="sortList__text">Activos</span>
				</i>
			</a>
		</li>
		<li>
			<a class="sortList__link">
				<i class="material-icons sortList__icon">
					comment
					<span class="sortList__text">Comentarios</span>
				</i>
			</a>
		</li>
		<li>
			<a class="sortList__link">
				<i class="material-icons sortList__icon">
					star_outline
					<span class="sortList__text">Votos</span>
				</i>
			</a>
		</li>
	</ul>

	<ul class="type">
		<ng-content></ng-content>
	</ul>
</div>
