.post {
	display: flex;
	align-items: center;
}

.content {
	display: flex;
	gap: 20px;
	padding: 5px 15px;
	border-left: 3px solid var(--primary-color);
}

.content:hover {
	border-left: 3px solid var(--primary-color-hover);
}

.content:hover .entrance__title {
	color: var(--primary-color-hover);
}

.entrance__content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
}

.entrance__title {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--primary-color);
}

.entrance__subtitle {
	font-size: 1rem;
}

.entrance__date {
	color: var(--light-color);
}

.entrance__body {
	display: block;
	height: 2.5rem;
}

.icons {
	display: flex;
	gap: 20px;
}
