.entrance {
	display: flex;
	box-shadow: 0 0 1px var(--secondary-color);
	align-items: center;
	padding: 15px;
}

.entrance__content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
}

.entrance__title {
	font-size: 1.5rem;
	font-weight: bold;
}

.entrance__date {
	color: var(--light-color);
}

.entrance__body {
	display: block;
	height: 2.5rem;
}

.icons {
	display: flex;
	gap: 20px;
}
