<div class="entrance">
	<app-votes [votes]="entrance.votes"></app-votes>
	<div class="entrance__content">
		<div class="header">
			<div class="data">
				<p class="entrance__title link-primary">{{ entrance.title }}</p>
				<p>
					Enviado por
					<a class="entrance__account link-secondary"
						>@{{ entrance.account.login }}</a
					>
					en
					<a class="entrance__community link-secondary"
						>#{{ entrance.community.name }}</a
					>
					-

					<span class="entrance__date">{{ entrance.createdAt }}</span>
				</p>
			</div>
		</div>
		<p class="entrance__body">{{ entrance.body }}</p>
		<div class="icons">
			<a (click)="onCommentsClick()" class="entrance__comment">
				<i class="{{ iconsService.getIcon('comment') }}">
					{{ entrance.votes }}</i
				>
			</a>
		</div>
	</div>
</div>
