<a (click)="navigateToEntrance()" class="post content">
	<app-votes
		[onClick]="onVotesClick.bind(this)"
		[votes]="entrance.votes"
	></app-votes>
	<div class="entrance__content">
		<div class="header">
			<div class="data">
				<p class="entrance__title">{{ entrance.title }}</p>
				<p class="entrance__subtitle">
					Enviado por
					<a
						(click)="navigateToAccount(); $event.stopPropagation()"
						class="entrance__account link-secondary"
						>@{{ entrance.account.login }}</a
					>
					en
					<a
						(click)="navigateToCommunity(); $event.stopPropagation()"
						class="entrance__community link-secondary"
						>#{{ entrance.community.name }}</a
					>
					-

					<span class="entrance__date">{{ entrance.createdAt }}</span>
				</p>
			</div>
		</div>
		<p class="entrance__body">{{ entrance.body }}</p>
		<div class="icons">
			<a
				(click)="onCommentsClick(); $event.stopPropagation()"
				class="entrance__comment"
			>
				<i class="{{ iconsService.getIcon('comment') }}">
					{{ entrance.comments }}</i
				>
			</a>
		</div>
	</div>
</a>
