<div class="entrance">
	<app-votes [votes]="entrance.votes"></app-votes>
	<div class="entrance__content">
		<div class="header">
			<div class="data">
				<p class="entrance__title link-primary">{{ entrance.title }}</p>
				<a class="entrance__account link-secondary"
					>@{{ entrance.account.login }}</a
				>
			</div>
			<div class="extra">
				<div>
					<a class="entrance__community link-secondary"
						>#{{ entrance.community.name }}</a
					>
				</div>
				<span class="entrance__date">{{ entrance.createdAt }}</span>
			</div>
		</div>
		<p class="entrance__body">{{ entrance.body }}</p>
		<div class="icons">
			<a class="entrance__inspect btn-normal">
				<i class="{{ iconsService.getIcon('inspect') }}"></i>
			</a>
			<a class="entrance__comment">
				<i class="{{ iconsService.getIcon('comment') }}">
					{{ entrance.votes }}</i
				>
			</a>
		</div>
	</div>
</div>
