<div class="content">
	<div class="component">
		<img
			class="content__img"
			src="{{ entity.image | filePath: entity.type }}"
		/>

		<form [formGroup]="formGroup" class="form">
			<div
				*ngFor="let data of entityFormData"
				class="form-data-container special"
			>
				<label for="`entity-details.${data?.key}`">{{ data?.name }}</label>
				<input
					formControlName="{{ data?.key }}"
					id="`entity-details.${data?.key}`"
					type="text"
					class="{{ formsService.inputValid(data?.key, formGroup) }}"
				/>
			</div>

			<div class="form-data-container">
				<label for="entity-details.description">Descripcion</label>
				<textarea
					formControlName="description"
					id="entity-details.description"
					rows="7"
				>
				</textarea>
			</div>

			<div *ngIf="this.entity?.type === 'account'" class="form-data-container">
				<label for="entity-details.admin">Admin</label>
				<input
					formControlName="admin"
					id="entity-details.admin"
					type="checkbox"
				/>
			</div>
		</form>

		<app-separator [header]="'Informacion extra'"></app-separator>

		<div class="extra-data">
			<div *ngFor="let data of entityData" class="data-container">
				<p>{{ data?.name }}</p>
				<span>{{ data?.value }}</span>
			</div>
		</div>

		<div class="buttons">
			<div class="entity-buttons">
				<button (click)="editEntity()" class="btn-primary">Editar</button>
				<button (click)="printEntity()" class="btn-outline-primary">
					Imprimir
				</button>
			</div>
			<button (click)="deleteEntity()" class="btn-error">Eliminar</button>
		</div>
	</div>
</div>
