.navbar {
	height: 70px;
	box-shadow: 0 0 2px var(--light-color);
	z-index: var(--hard-middle-priority);
	margin-bottom: 20px;
}

.navbar .wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.navbar__logo,
.navbar__submenu {
	display: block;
}

.navbar__logo {
	color: black;
	font-size: 2.1rem;
	font-family: dancing_script;
}

.navbar__input {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1rem;
	padding: 8px;
}

.navbar__submenu {
	font-size: 1rem;
}
