<template #popup></template>

<nav class="navbar">
	<div class="wrap">
		<a routerLink="/home" class="navbar__logo btn-normal">Sheyras</a>
		<div class="input">
			<form (submit)="onSubmit()" [formGroup]="formGroup">
				<input
					formControlName="search"
					(focus)="inputFocus = true"
					(focusout)="inputFocus = false"
					class="navbar__input input-secondary"
					type="text"
					placeholder="Buscar por aqui"
				/>
			</form>
			<app-deploy *ngIf="showDeploy" [onClickOut]="onDeployClickOut.bind(this)">
				<app-elist
					[header]="'Cuentas'"
					[entities]="accounts"
					[show]="!accounts || accounts?.length === 0"
					[blackList]="[sessionAccount.id]"
					[onFollowClick]="
						onFollowClick ? onFollowClick.bind(this) : followClick.bind(this)
					"
				></app-elist>
				<button
					*ngIf="showAccountsButton"
					(click)="onViewMoreClick ? onViewMoreClick.bind(this) : null"
					class="btn-primary"
				>
					Ver mas
				</button>
				<br />
				<app-elist
					[header]="'Comunidades'"
					[entities]="communities"
					[show]="!communities || communities?.length === 0"
					[onFollowClick]="
						onFollowClick ? onFollowClick.bind(this) : followClick.bind(this)
					"
				></app-elist>
				<button
					*ngIf="showCommunitiesButton"
					(click)="onViewMoreClick ? onViewMoreClick.bind(this) : null"
					class="btn-primary"
				>
					Ver mas
				</button>
			</app-deploy>
		</div>
		<div>
			<a
				*ngIf="!sessionAccount"
				routerLink="/auth"
				class="link-secondary navbar__submenu"
			>
				Acceder
			</a>
			<ul *ngIf="sessionAccount" class="subtitles">
				<li *ngIf="sessionAccount.admin">
					<a routerLink="/admin" class="link-secondary navbar__submenu">
						<i
							class="material-icons {{
								router.url === '/admin' ? 'active' : ''
							}}"
							>admin_panel_settings <span>Administrar</span></i
						>
					</a>
				</li>
				<li>
					<a (click)="logout()" class="link-secondary navbar__submenu">
						<i class="material-icons">logout <span>logout</span></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
