<template #popup></template>

<nav class="navbar">
	<div class="wrap">
		<a routerLink="/home" class="navbar__logo btn-normal">Sheyras</a>
		<input
			class="navbar__input input-secondary"
			type="text"
			placeholder="Buscar por aqui"
		/>
		<div>
			<a
				*ngIf="!sessionAccount"
				routerLink="/auth"
				class="link-secondary navbar__submenu"
			>
				Acceder
			</a>
			<ul *ngIf="sessionAccount" class="subtitles">
				<li>
					<a routerLink="/admin" class="link-secondary navbar__submenu">
						<i class="material-icons"
							>admin_panel_settings <span>Administrar</span></i
						>
					</a>
				</li>
				<li>
					<a (click)="logout()" class="link-secondary navbar__submenu">
						<i class="material-icons">logout <span>logout</span></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
