<template #alert></template>

<app-menu></app-menu>
<div class="wrap content">
	<ul class="menu">
		<li *ngFor="let data of menuData">
			<button (click)="changeState(data.key)" class="btn-normal menu__button">
				<i
					class="material-icons menu__icon {{
						state === data.key ? 'active' : ''
					}}"
				>
					{{ data.icon }}
					<span class="menu__text"> {{ data.text }}</span>
				</i>
			</button>
		</li>
	</ul>
	<div class="data">
		<div *ngIf="state === 'account'" class="section-content">
			<div class="separator">
				<span class="separator__text">Ajustes de cuenta</span>
				<hr class="separator__line" />
			</div>

			<form (submit)="onSubmit()" [formGroup]="formGroup" class="settings-form">
				<div class="settings-form-component">
					<label class="settings-form__title">Avatar</label>
					<div class="settings-form-content">
						<img
							width="80"
							class="settings-form__image"
							src="../../../../assets/images/not-account-image-found.png"
							alt="not found"
						/>
						<p class="settings-form__explain">
							Imagen por la que te podra identificar el resto de usuarios. Tenga
							en cuenta que la imagen que suba sera publica para todos. Sin
							embargo, si decide cambiar o eliminar la imagen, no sera
							almacenada en nuestra base de datos.
						</p>
					</div>
				</div>
				<div class="settings-form-component">
					<label class="settings-form__title" for="username">Username*</label>
					<div class="settings-form-content">
						<input
							formControlName="username"
							id="username"
							class="settings-form__input {{
								formsService.inputValid('username', formGroup)
							}}"
							type="text"
							placeholder="jose peña"
						/>
						<p class="settings-form__explain">
							Este campo solamente es visual, el resto de usuarios no podra
							encontrarte por el username, sin embargo, sera el campo que
							destacara cuando entren en tu perfil.
						</p>
					</div>
				</div>
				<div class="settings-form-component">
					<label class="settings-form__title" for="description"
						>Descripcion</label
					>
					<div class="settings-form-content">
						<textarea
							formControlName="description"
							id="description"
							class="settings-form__textarea {{
								formsService.inputValid('description', formGroup)
							}}"
							class="settings-form__textarea"
							rows="7"
						>
						</textarea>
						<p class="settings-form__explain">
							Tenga en cuenta que este campo sera accesible por todos los
							usuarios. Nosotros utilizaremos tu correo electronico para poder
							realizar diferentes operaciones y facilitar la comunicacion.
						</p>
					</div>
				</div>
				<div class="settings-form-component">
					<label class="settings-form__title" for="login">Login*</label>
					<div class="settings-form-content">
						<input
							formControlName="login"
							id="login"
							class="settings-form__input {{
								formsService.inputValid('login', formGroup)
							}}"
							type="text"
							placeholder="josevi97"
						/>
						<p class="settings-form__explain">
							Este campo es visible por todos los usuarios y sera el campo por
							el cual el resto podra encontrarte en la pagina. Ademas, sera el
							campo que deberas utilizar para hacer login en nuestra pagina.
						</p>
					</div>
				</div>
				<div class="settings-form-component">
					<label class="settings-form__title" for="email"
						>Correo electronico*</label
					>
					<div class="settings-form-content">
						<input
							formControlName="email"
							id="email"
							class="settings-form__input {{
								formsService.inputValid('email', formGroup)
							}}"
							type="email"
							placeholder="ejemplo@hotmail.com"
						/>
						<p class="settings-form__explain">
							Tenga en cuenta que este campo sera accesible por todos los
							usuarios. Nosotros utilizaremos tu correo electronico para poder
							realizar diferentes operaciones y facilitar la comunicacion.
						</p>
					</div>
				</div>
				<div class="settings-form-component">
					<label class="settings-form__title"></label>
					<div class="settings-form-content">
						<div class="settings-form-buttons">
							<input
								class="settings-form__input btn-primary"
								type="submit"
								value="Enviar"
								placeholder="ejemplo@hotmail.com"
							/>
							<button (click)="onCancel()" class="btn-outline-primary">
								Cancelar
							</button>
						</div>
					</div>
				</div>
			</form>
			<div class="settings-form-component">
				<label class="settings-form__title"></label>
				<div class="settings-form-content settings-form-delete">
					<p class="settings-form-delete__text">
						Si desea eliminar su cuenta, debe tener en cuenta que nuestra base
						de datos no almacenara ningun tipo de informacion. Es decir, una vez
						haya eliminado la cuenta, no podra volver a recuperar sus datos. Lo
						mismo ocurrira con la imagen que tenga subida, la cual, una vez
						eliminada la cuenta, se borrara de nuestra base de datos.
					</p>
					<div class="comodin">
						<button
							(click)="onDelete()"
							class="settings-form-delete__button btn-outline-error"
						>
							Eliminar
						</button>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="state === 'security'" class="section-content">
			<div class="separator">
				<span class="separator__text">Ajustes de seguridad</span>
				<hr class="separator__line" />
			</div>
			<form
				(submit)="onChangePassword()"
				[formGroup]="formGroup"
				class="settings-form"
			>
				<div class="settings-form-component">
					<p class="settings-form__title">Contraseña</p>
					<div class="settings-form-content">
						<input
							class="settings-form__input"
							type="password"
							placeholder="*********"
						/>
						<input
							class="settings-form__input"
							type="password"
							placeholder="repetir contraseña"
						/>
						<p class="settings-form__explain">
							Asegurese de introducir una contraseña lo suficientemente segura
							antes de cambiarla. Por favor, no de este dato a otros usuarios,
							el staff de Sheyras no se hara responsable.
						</p>
					</div>
				</div>
				<div class="settings-form-component">
					<label class="settings-form__title"></label>
					<div class="settings-form-content">
						<input
							class="settings-form__input btn-primary"
							type="submit"
							value="Cambiar contraseña"
							placeholder="ejemplo@hotmail.com"
						/>
					</div>
				</div>
			</form>
		</div>
		<app-list-end
			*ngIf="state !== 'account' && state !== 'security'"
		></app-list-end>
	</div>
</div>
<app-copyright></app-copyright>
