.content {
	display: flex;
	justify-content: space-between;
	gap: 80px;
	margin-bottom: 50px;
	min-height: 100vh;
}

.section-content {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 10px;
	list-style: none;
}

.menu__icon {
	display: flex;
	align-items: center;
}

.menu__text {
	font-size: 1.3rem;
	margin-left: 10px;
}

.data {
	margin-top: 20px;
	width: 100%;
}

.settings-form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.settings-form-component {
	display: flex;
	gap: 30px;
}

.settings-form-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.settings-form-buttons {
	display: flex;
	gap: 10px;
}

.settings-form__image {
	border: 3px solid white;
	border-radius: 50%;
}

.settings-form__textarea {
	resize: none;
}

.settings-form__input {
	width: 300px;
}

.settings-form__title {
	width: 200px;
}

.settings-form__input[type='submit'] {
	width: fit-content;
	padding-left: 50px;
	padding-right: 50px;
}

.settings-form__explain {
	color: var(--secondary-color);
}

.settings-form-delete {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-top: 40px;
}

.comodin {
	display: flex;
	justify-content: end;
}

.settings-form-delete__button {
	width: fit-content;
	padding-left: 50px;
	padding-right: 50px;
}

@media screen and (max-width: 992px) {
	.settings-form-component {
		flex-direction: column;
		gap: 8px;
	}
}

@media screen and (max-width: 768px) {
	.content {
		gap: 40px;
	}
	.menu__text {
		display: none;
	}
}
