.content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.head {
	display: flex;
	align-items: center;
	gap: 15px;
}

.head__content {
	position: relative;
}

.head__admin {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -70%);
	background-color: var(--primary-color);
	color: white;
	padding: 5px 10px;
	font-size: 0.75rem;
	font-weight: bold;
	border-radius: 25px;
}

.head__avatar {
	display: flex;
	border: 2px solid var(--primary-color);
	border-radius: 50%;
	overflow: hidden;
}

.head__image {
	border: 3px solid white;
	border-radius: 50%;
}

.subhead__title {
	font-size: 1.7rem;
	font-weight: bold;
	color: var(--primary-color);
}

.subhead__subtitle {
	color: var(--secondary-color);
}

.subhead button {
	width: 150px;
}

.body {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.info {
	display: flex;
	flex-direction: column;
	color: var(--secondary-color);
}

.info p {
	display: flex;
	align-items: center;
	gap: 5px;
}

.info__variable {
	color: black;
}

.entity-active {
	cursor: default;
}

@media screen and (max-width: 1400px) {
	.content__button {
		width: 200px;
	}
}

@media screen and (max-width: 576px) {
	.content,
	.content__button {
		width: 100%;
	}

	.hide__phone {
		display: none;
	}
}
