<div class="manage">
	<div class="header">
		<form (submit)="onSubmit()" [formGroup]="formGroup">
			<input formControlName="input" type="text" placeholder="Buscar.." />
		</form>
		<app-pagination
			[onInputChange]="onInputChange ? onInputChange.bind(this) : null"
		></app-pagination>
	</div>
	<table class="table">
		<tr>
			<th
				*ngFor="let row of tableData?.headers"
				(click)="row.sort ? onHeaderClick(row.key) : null"
				class="{{ !row.relevant ? 'hide' : '' }} {{
					!row.sort ? 'cursor-default' : ''
				}} {{ row.sort ? 'sort' : '' }}"
			>
				<div class="header-container">
					<span>{{ row.text }}</span>
					<i
						class="
                               {{
							row.sort && state === row.key ? '' : 'invisible'
						}}
                               {{ iconsService.getIcon(direction | arrow) }}"
					></i>
				</div>
			</th>
		</tr>
		<tr
			*ngFor="let row of tableData?.data"
			(click)="onRowClick ? onRowClick(row?.body[0].text) : null"
		>
			<td
				*ngFor="let col of row?.body"
				class="{{ !col.relevant ? 'hide' : '' }}"
			>
				{{ col.text }}
			</td>
		</tr>
	</table>
</div>
