<div class="manage">
	<div class="header">
		<form (submit)="onSubmit()" [formGroup]="formGroup">
			<input formControlName="input" type="text" placeholder="Buscar.." />
		</form>
		<app-pagination
			[onInputChange]="onInputChange ? onInputChange.bind(this) : null"
		></app-pagination>
	</div>
	<table class="table">
		<tr>
			<th
				*ngFor="let row of tableData?.headers"
				(click)="onHeaderClick(row.key)"
			>
				{{ row.text }}
			</th>
		</tr>
		<tr
			*ngFor="let row of tableData?.data"
			(click)="onRowClick ? onRowClick(row?.body[0]) : null"
		>
			<td *ngFor="let col of row?.body">{{ col }}</td>
		</tr>
	</table>
</div>
