.content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	min-width: 300px;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.card__image {
	border: 3px solid white;
	border-radius: 50%;
}

.head {
	position: relative;
	display: flex;
	align-items: center;
	gap: 7px;
}

.card__title {
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--primary-color);
}

.card__subtitle {
	font-size: 0.9rem;
	color: var(--secondary-color);
}

.card__button {
	padding: 10px 0;
	width: 90px;
	font-size: 0.95rem;
}

@media screen and (max-width: 1400px) {
	.hide {
		display: none;
	}
}
