<div class="content">
	<app-post
		[showAccount]="true"
		[showCommunity]="true"
		[post]="post"
		[showActionButtons]="false"
		[showCommentButton]="false"
		[showCite]="true"
	></app-post>
</div>

<div class="comment-content">
	<form (submit)="submit()" [formGroup]="formGroup" class="comment-form">
		<input
			formControlName="comment"
			class="comment-content__input"
			type="text"
			placeholder="Comentar algo.."
		/>
		<input class="btn-primary" type="submit" value="Enviar" />
	</form>
</div>
