<form
	class="form content"
	(submit)="onSubmit ? onSubmit() : null"
	[formGroup]="formGroup"
>
	<div *ngFor="let data of formData" class="form-component">
		<label class="form__label" for="{{ data.key }}">{{ data.label }}</label>
		<input
			formControlName="{{ data.key }}"
			id="{{ data.key }}"
			class="form__input {{ formsService.inputValid(data.key, formGroup) }}"
			type="{{ data.type }}"
			placeholder="{{ data.placeholder }}"
		/>
	</div>
	<div class="form-component">
		<label class="form__label" for="description">Cuerpo</label>
		<textarea
			formControlName="body"
			id="description"
			class="entrance-form__textarea form__input {{
				formsService.inputValid('body', formGroup)
			}}"
			placeholder="algun ejemplo sabes"
		></textarea>
	</div>
	<input
		class="form__input btn-outline-primary"
		type="submit"
		value="Publicar"
	/>
</form>
