<template #alert></template>

<app-menu></app-menu>
<div class="wrap pageContent">
	<div class="list">
		<app-sort
			[extraState]="state"
			[extraElements]="sortData"
			[onExtraClick]="this.changeState.bind(this)"
		>
		</app-sort>
		<app-entrance
			*ngFor="let entrance of entrances"
			[showAccount]="shouldShowSubtitle('account')"
			[showCommunity]="shouldShowSubtitle('community')"
			[entrance]="entrance"
			[onCommentsClick]="sendComment.bind(this, entrance)"
		></app-entrance>
		<app-list-end [hasContent]="entrances?.length > 0"></app-list-end>
		<div></div>
	</div>
	<app-aside-details>
		<app-account-details
			*ngIf="sessionAccount || account !== undefined"
			[active]="false"
			[account]="currentAccount"
			[showFollowButton]="
				account !== undefined && currentAccount.id !== sessionAccount.id
			"
		>
		</app-account-details>
	</app-aside-details>
</div>
