<template #alert></template>

<app-menu></app-menu>
<div class="wrap pageContent">
	<div class="list">
		<app-sort
			[extraState]="state"
			[extraElements]="sortData"
			[onExtraClick]="this.changeState.bind(this)"
		>
		</app-sort>
		<div class="posts">
			<app-post
				*ngFor="let post of posts"
				[showAccount]="shouldShowSubtitle('account')"
				[showCommunity]="shouldShowSubtitle('community')"
				[post]="post"
			></app-post>
		</div>
		<app-list-end [hasContent]="posts?.length > 0"></app-list-end>
		<div></div>
	</div>
	<app-aside-details>
		<app-entity
			*ngIf="sessionAccount || account !== undefined"
			[show]="account !== undefined || community !== undefined"
			[active]="false"
			[entity]="currentEntity"
			[showFollowButton]="
				community !== undefined ||
				(account !== undefined && currentEntity?.id !== sessionAccount?.id)
			"
		>
		</app-entity>
	</app-aside-details>
</div>
