<template #alert></template>

<app-menu></app-menu>
<div class="wrap pageContent">
	<div class="list">
		<app-sort
			*ngIf="post === undefined"
			[extraState]="state"
			[extraElements]="sortData"
			[onExtraClick]="this.changeState.bind(this)"
		>
		</app-sort>

		<app-post
			*ngIf="post !== undefined"
			[showAccount]="false"
			[showCommunity]="true"
			[post]="post"
			[arrowsAtStart]="false"
			[showExtra]="true"
			[showActionButtons]="
				sessionAccount?.admin || sessionAccount?.id === post?.account.id
			"
			[showCommentButton]="true"
			[onCiteClick]="onPostClick.bind(this, post.post)"
			[onVotesClick]="onVotesClick.bind(this)"
			[onCommentsClick]="onCommentsClick.bind(this, post)"
			[showCite]="true"
		></app-post>

		<app-separator
			*ngIf="post !== undefined"
			[header]="'Respuestas'"
		></app-separator>

		<div class="posts">
			<app-post
				*ngFor="let p of posts"
				[showAccount]="!account"
				[showCommunity]="!community"
				[post]="p"
				[arrowsAtStart]="false"
				[showExtra]="true"
				[showActionButtons]="
					post !== undefined &&
					(sessionAccount?.admin || sessionAccount?.id === p?.account.id)
				"
				[showCommentButton]="true"
				[onPostClick]="onPostClick.bind(this, p)"
				[onCiteClick]="onPostClick.bind(this, p.post)"
				[onVotesClick]="onVotesClick.bind(this)"
				[onCommentsClick]="onCommentsClick.bind(this, p)"
				[showCite]="post === undefined"
			></app-post>
		</div>

		<app-list-end [hasContent]="posts?.length > 0"></app-list-end>
		<div></div>
	</div>
	<app-aside-details>
		<app-entity
			*ngIf="sessionAccount || account !== undefined || community !== undefined"
			[active]="account !== undefined || community !== undefined"
			[sessionAccount]="sessionAccount"
			[show]="account !== undefined || community !== undefined"
			[entity]="currentEntity"
			[onLinksClick]="onLinksClick.bind(this)"
			[onProfileButtonClick]="onProfileButtonClick.bind(this)"
			[onAddClick]="onAddClick.bind(this)"
			[showFollowButton]="
				community !== undefined ||
				(account !== undefined && currentEntity?.id !== sessionAccount?.id)
			"
		>
		</app-entity>
		<app-elist
			*ngIf="
				sessionAccount === null ||
				(sessionAccount.id !== currentEntity.id && account !== undefined) ||
				community !== undefined
			"
			[hide]="true"
			[header]="sessionAccount !== null ? 'Le siguen' : 'Cuentas'"
		>
		</app-elist>
		<app-elist
			*ngIf="
				(sessionAccount === null && community === undefined) ||
				(sessionAccount !== null &&
					sessionAccount.id !== currentEntity.id &&
					account !== undefined &&
					community === undefined)
			"
			[hide]="true"
			[header]="
				sessionAccount !== null ? 'Comunidades seguidas' : 'Comunidades'
			"
		>
		</app-elist>
	</app-aside-details>
</div>
