.pageContent {
	display: flex;
	gap: 50px;
}

.list {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.entrances {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.buttons button {
	width: 100%;
}

@media screen and (max-width: 1400px) {
	.pageContent {
		gap: 0;
	}
}
