<template #alert></template>

<app-menu></app-menu>
<div class="content wrap">
	<p class="content__title">
		Estas en la seccion de <span><strong>administrador</strong></span> donde
		podras realizar operaciones de <span><strong>mantenimiento</strong></span>
	</p>

	<div class="buttons">
		<button (click)="createAdmin()" class="btn-outline-primary">
			Crear administrador
		</button>
		<button class="btn-primary">Crear comunidad</button>
	</div>

	<div class="manage">
		<div class="header">
			<input type="text" placeholder="Buscar.." />
		</div>
		<app-table [tableData]="tableData"></app-table>
	</div>
</div>
