<template #alert></template>

<app-menu></app-menu>
<div class="content wrap">
	<p class="content__title">
		Estas en la seccion de <span><strong>administrador</strong></span> donde
		podras realizar operaciones de <span><strong>mantenimiento</strong></span>
	</p>

	<div class="buttons">
		<button (click)="createAdmin()" class="btn-outline-primary">
			Crear administrador
		</button>
		<button (click)="createCommunity()" class="btn-primary">
			Crear comunidad
		</button>
	</div>

	<app-table
		[onRowClick]="onRowClick.bind(this)"
		[onInputChange]="onInputChange.bind(this)"
		[onFilterEnter]="onInputEnter.bind(this)"
		[onHeadClick]="onHeaderClick.bind(this)"
		[tableData]="tableData"
	></app-table>
</div>
