<template #alert></template>

<app-menu></app-menu>
<div class="content wrap">
	<p class="content__title">
		Estas en la seccion de <span><strong>administrador</strong></span> donde
		podras realizar operaciones de <span><strong>mantenimiento</strong></span>
	</p>

	<div class="buttons">
		<button (click)="createAdmin()" class="btn-outline-primary">
			Crear administrador
		</button>
		<button (click)="createCommunity()" class="btn-primary">
			Crear comunidad
		</button>
	</div>

	<br />

	<ul class="table-filter">
		<li>
			<a (click)="changeState('accounts')">
				<i class="material-icons {{ state === 'accounts' ? 'active' : '' }}"
					>account_box <span>Cuentas</span></i
				>
			</a>
		</li>
		<li>
			<a (click)="changeState('communities')">
				<i class="material-icons {{ state === 'communities' ? 'active' : '' }}"
					>forum <span>Comunidades</span></i
				>
			</a>
		</li>
	</ul>

	<div class="tableContent">
		<app-table
			[onRowClick]="onRowClick.bind(this)"
			[onInputChange]="onInputChange.bind(this)"
			[onFilterEnter]="onInputEnter.bind(this)"
			[onHeadClick]="onHeaderClick.bind(this)"
			[tableData]="tableData"
		></app-table>
	</div>
</div>
