/* Menor que (should be variables)
 *
 * 576  Extra small     100%
 * 768  Small           540px
 * 992  Medium          720px
 * 1200 Large           960px
 * 1400 Extra large     1140px
 * if not, XXL          1320px
 *
 */

* {
	padding: 0;
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

:root {
	--primary-color: #fca503;
	--primary-color-hover: #fc8c03;
	--primary-color-active: #fc7703;
	--secondary-color: #666666;
	--secondary-color-hover: #3d3d3d;
	--secondary-color-active: #242424;

	--button-radius: 5px;
	--hard-back-priority: 100;
	--hard-middle-priority: calc(var(--hard-back-priority) + 1);
	--hard-front-priority: calc(var(--hard-back-priority) + 2);
}

@font-face {
	font-family: dancing_script;
	src: url('assets/fonts/dancing_script/DancingScript-Bold.ttf');
}

a {
	text-decoration: none;
}

a,
p,
span,
strong {
	font-size: 1em;
}

button,
input[type='submit'] {
	border-radius: var(--button-radius);
}

input[type='text'],
input[type='email'],
input[type='password'] {
	border: 1px solid var(--secondary-color);
	border-radius: var(--button-radius);
	padding: 10px;
	outline: none;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
	border: 1px solid var(--secondary-color-active);
}

button,
input[type='submit'] {
	cursor: pointer;
}

.btn-primary {
	background-color: var(--primary-color);
	color: white;
	border: 1px solid var(--primary-color);
	padding: 15px;
}

.btn-primary:hover {
	background-color: var(--primary-color-hover);
	color: white;
}

.btn-primary:active {
	background-color: var(--primary-color-active);
	color: white;
}

.btn-outline-primary {
	background-color: transparent;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	padding: 15px;
}

.btn-outline-primary:hover {
	background-color: var(--primary-color-hover);
	color: white;
}

.btn-outline-primary:active {
	background-color: var(--primary-color-active);
	color: white;
}

.link-secondary {
	color: var(--secondary-color);
}

.link-secondary:hover {
	color: var(--secondary-color-hover);
}

.link-secondary:active {
	color: var(--secondary-color-active);
}

.wrap {
	width: 50%;
	height: 100%;
	margin: auto;
}

@media screen and (max-width: 1400px) {
	* {
		font-size: 15px;
	}

	.wrap {
		width: 70%;
	}
}

@media screen and (max-width: 1200px) {
	* {
		font-size: 14px;
	}

	.wrap {
		width: 80%;
	}
}

@media screen and (max-width: 992px) {
	.wrap {
		width: 80%;
	}
}

@media screen and (max-width: 768px) {
	.wrap {
		width: 90%;
	}
}

@media screen and (max-width: 576px) {
	.wrap {
		width: 100%;
	}
}

@keyframes popup {
	from {
		width: 0;
		height: 0;
	}

	to {
		width: 100%;
		height: 100%;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
