/* Menor que (should be variables)
 *
 * 576  Extra small     100%
 * 768  Small           540px
 * 992  Medium          720px
 * 1200 Large           960px
 * 1400 Extra large     1140px
 * if not, XXL          1320px
 *
 */

* {
	padding: 0;
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

:root {
	--primary-color: #fca503;
	--primary-color-hover: #fc8c03;
	--primary-color-active: #fc7703;
	--secondary-color: #666666;
	--secondary-color-hover: #3d3d3d;
	--secondary-color-active: #242424;
	--white-color: #f7f7f7;
	--light-color: #a6a6a6;

	--button-radius: 5px;
	--hard-back-priority: 100;
	--hard-middle-priority: calc(var(--hard-back-priority) + 1);
	--hard-front-priority: calc(var(--hard-back-priority) + 2);

	--content-gap: 30px;
	--aside-size: 300px;
}

@font-face {
	font-family: dancing_script;
	src: url('assets/fonts/dancing_script/DancingScript-Bold.ttf');
}

a {
	text-decoration: none;
}

i {
	color: var(--light-color);
}

.active {
	color: var(--primary-color);
	cursor: default;
}

a:not('active'):hover i,
button:not('active'):hover i {
	color: var(--primary-color-hover);
}

a:not('active'):active i,
button:not('active'):active i {
	color: var(--primary-color-active);
}

a,
p,
i,
button,
input,
span,
strong {
	font-size: 1em;
}

a,
button,
input[type='submit'] {
	cursor: pointer;
}

a[class*='btn'],
button,
input[type='submit'] {
	display: block;
	text-align: center;
	border-radius: var(--button-radius);
}

input[type='text'],
input[type='email'],
input[type='password'] {
	padding: 10px;
	outline: none;
}

.btn-normal {
	border: none;
	background-color: transparent;
	outline: none;
}

.btn-primary {
	background-color: var(--primary-color);
	color: white;
	border: 1px solid var(--primary-color);
	padding: 15px;
}

.btn-primary:hover {
	background-color: var(--primary-color-hover);
	color: white;
}

.btn-primary:active {
	background-color: var(--primary-color-active);
	color: white;
}

.btn-outline-primary {
	background-color: transparent;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	padding: 15px;
}

.btn-outline-primary:hover {
	background-color: var(--primary-color-hover);
	color: white;
}

.btn-outline-primary:active {
	background-color: var(--primary-color-active);
	color: white;
}

.link-primary {
	color: var(--primary-color);
}

.link-primary:hover {
	color: var(--primary-color-hover);
}

.link-primary:active {
	color: var(--primary-color-active);
}

.link-secondary {
	color: var(--secondary-color);
}

.link-secondary:hover {
	color: var(--secondary-color-hover);
}

.link-secondary:active {
	color: var(--secondary-color-active);
}

.wrap {
	position: relative;
	width: 65%;
	height: 100%;
	margin: auto;
	padding: 0 15px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form__title {
	text-align: center;
	margin-bottom: 30px;
	font-size: 1.8rem;
}

.inputContainer:focus-within .form__inputBorderFor {
	width: 100%;
	animation: inputFocus 0.3s;
}

.form__inputBorderBack {
	position: relative;
	height: 1px;
	background-color: var(--secondary-color);
}

.form__inputBorderFor {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 0%;
	height: 1px;
	background-color: var(--primary-color);
}

.form__input[type='text'],
.form__input[type='email'],
.form__input[type='password'] {
	background-color: var(--white-color);
	font-size: 1rem;
	border: none;
	border-radius: 0;
}

.form__input[type='submit'] {
	margin-top: 20px;
}

.post {
	display: flex;
	box-shadow: 0 0 1px var(--secondary-color);
	align-items: center;
	padding: 15px;
}

.sortList__icon {
	display: flex;
	align-items: center;
}

.sortList__text {
	font-size: 1rem;
}

.asideDetails {
	display: flex;
	gap: 20px;
	flex-direction: column;
	width: var(--aside-size);
}

@keyframes inputFocus {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

@media screen and (max-width: 1400px) {
	* {
		font-size: 15px;
	}

	.wrap {
		width: 65%;
	}

	.asideDetails {
		width: 100%;
	}
}

@media screen and (max-width: 1200px) {
	* {
		font-size: 14px;
	}

	.wrap {
		width: 80%;
	}
}

@media screen and (max-width: 992px) {
	.wrap {
		width: 90%;
	}
}

@media screen and (max-width: 768px) {
	.wrap {
		width: 90%;
	}

	.sortList__text {
		display: none;
	}
}

@media screen and (max-width: 576px) {
	.wrap {
		width: 100%;
	}
}

@keyframes popup {
	from {
		width: 0;
		height: 0;
	}

	to {
		width: 100%;
		height: 100%;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
