<form class="form" (submit)="onSubmit()">
	<p class="form__title">Registrar cuenta</p>
	<input class="form__input" type="text" placeholder="login" />
	<input class="form__input" type="text" placeholder="email" />
	<input class="form__input" type="text" placeholder="username" />
	<input class="form__input" type="password" placeholder="password" />
	<input class="form__input" type="password" placeholder="repeat password" />
	<input class="form__input btn-outline-primary" type="submit" value="Crear" />
</form>
