<form class="form content" (submit)="onSubmit()" [formGroup]="formGroup">
	<div *ngFor="let data of formData" class="form-component">
		<label class="form__label" for="{{ data.key }}">{{ data.label }}</label>
		<input
			formControlName="{{ data.key }}"
			id="{{ data.key }}"
			class="form__input {{ formsService.inputValid(data.key, formGroup) }}"
			type="{{ data.type }}"
			placeholder="{{ data.placeholder }}"
		/>
	</div>
	<input class="form__input btn-outline-primary" type="submit" value="Crear" />
</form>
