<div
	(click)="onPostClick ? onPostClick() : null"
	class="post content {{ onPostClick ? 'post-active' : '' }}"
>
	<app-votes
		[onClick]="onVotesClick ? onVotesClick.bind(this) : null"
		[vote]="post?.sessionVoted"
		[votes]="post?.votes"
	></app-votes>
	<div class="post__content">
		<div class="header">
			<div class="data">
				<p class="post__title">{{ post?.title }}</p>
				<p class="post__subtitle">
					Enviado
					<span *ngIf="showAccount">por </span>
					<a
						*ngIf="showAccount"
						(click)="navigateToAccount(); $event.stopPropagation()"
						class="post__account link-secondary"
						>@{{ post?.account.login }}
					</a>

					<span *ngIf="showCommunity && post?.community">en </span>
					<a
						*ngIf="showCommunity && post?.community"
						(click)="navigateToCommunity(); $event.stopPropagation()"
						class="post__community link-secondary"
						>#{{ post?.community?.name }}</a
					>

					hace
					<span class="post__date">{{ post?.createdAt | date }}</span>
				</p>
			</div>
		</div>
		<app-cite
			*ngIf="showCite && post?.type === 'comment'"
			[onClick]="onCiteClick ? onCiteClick.bind(this) : null"
			[post]="post"
		></app-cite>
		<p class="post__body">{{ post?.body }}</p>
		<div class="icons">
			<a
				*ngIf="showCommentButton"
				(click)="
					onCommentsClick ? onCommentsClick() : null; $event.stopPropagation()
				"
				class="post__comment"
			>
				<i class="{{ iconsService.getIcon('comment') }}">
					<span> {{ post?.comments }}</span>
				</i>
			</a>

			<div *ngIf="showActionButtons" class="buttons">
				<button
					(click)="$event.stopPropagation()"
					*ngIf="this.post?.type !== 'comment'"
					class="btn-normal"
				>
					<i class="{{ iconsService.getIcon('edit') }}">
						<span> Editar</span></i
					>
				</button>
				<button (click)="$event.stopPropagation()" class="btn-normal">
					<i class="{{ iconsService.getIcon('delete') }}">
						<span> Eliminar</span></i
					>
				</button>
			</div>
		</div>
	</div>
</div>
