.post {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.content {
	display: flex;
	gap: 20px;
	padding: 5px 20px;
	border-left: 3px solid var(--primary-color);
}

.content:hover {
	border-left: 3px solid var(--primary-color-hover);
}

.content:hover .post__title {
	color: var(--primary-color-hover);
}

.post__content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
}

.post__title {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--primary-color);
}

.post__subtitle {
	font-size: 0.97rem;
}

.post__date {
	font-style: italic;
}

.post__body {
	display: block;
	height: 2.5rem;
}

.icons {
	display: flex;
	gap: 20px;
}
