.post {
	display: flex;
}

.post:not(.not-align) {
	align-items: center;
}

.content {
	display: flex;
	gap: 20px;
	padding: 5px 20px;
	border-left: 3px solid var(--primary-color);
}

.content:hover {
	border-left: 3px solid var(--primary-color-hover);
}

.content:hover .post__title {
	color: var(--primary-color-hover);
}

.post__content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
}

.post__title {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--primary-color);
}

.post__subtitle {
	font-size: 0.97rem;
}

.post__date {
	font-style: italic;
}

.post__body {
	display: block;
	height: 2.5rem;
}

.icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.buttons {
	display: flex;
	gap: 5px;
}

.buttons button {
	padding: 8px;
}

.post-active {
	cursor: pointer;
}

.hide-extra {
	border-left: none;
	padding-left: 0;
}

.hide-extra:hover {
	border-left: none;
	padding-left: 0;
}
